html {
    background-color: black;
    scroll-behavior: smooth;
}

.header {
    border-bottom: 5px solid orange;
}

.header-container {
    max-width: 1440px;
    min-height: 70px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logo-container {
    margin: 0 20px;
}

form {
    position: relative;
    width: 300px;
    margin-left: auto;
    margin-right: 20px;
    background: white;
    border-radius: 15px;
}

input, button {
    border: none;
    outline: none;
    background: transparent;
}

input {
    width: 100%;
    height: 42px;
    padding-left: 15px;
}

input::placeholder {
    font-family: "Inter", sans-serif;
}

.search {
    padding: 1rem;
    padding-right: 45px;
    font-size: 1rem;
    font-family: "Inter", sans-serif;   
}

button {
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-right: 5px;
}

button:before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 16px;
    color: black;
}

@media (max-width: 430px) {
    .header-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .form {
        margin: 15px;
    }

    .logo-container {
        margin-top: 12px;
    }
}

.section-sort {
    max-width: 1440px;
    margin: 0 auto;
}

.sorting {
    margin: 25px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 333px) {
    .sorting {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

.sort {
    color: white;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 20px;
    display: block;
    margin: 0 25px;
}

.sort-by {
    width: 75px;
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    padding: 25px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
}

.div-photo {
    width: 400px;
    height: 300px;
}

.photo {
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.3s;
}

.photo:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.modal-div {
    width: 100%;
    height: 101%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.733);
    animation: zoom 0.3s ease-in-out;
}

@keyframes zoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.modal-div img {
    max-width: 80%;
    max-height: 95%;
    object-fit: cover;
}

.close-button {
    color: rgba(255, 255, 255, 0.87);
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    content: "\f002";
    font-family: FontAwesome;
    font-size: 32px;
}

.close-button:hover {
    color: #BDAE82;
}

.footer-container {
    display: flex;
    max-width: 1440px;
    min-height: 60px;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

.footer-github {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

@media (max-width: 460px) {
    .footer-github {
        gap: 10px;
    }
}

.footer-text {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.github-link {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.github-link:hover {
    color: #BDAE82;
    transition: 0.5s;
}

.footer-rss {
    margin-left: auto;
}

.footer-logo-svg {
    fill: white;
    transition: 0.5s;
}

.footer-logo-svg:hover {
    fill: #BDAE82;
    transition: 0.5s;
}