* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.header {
    width: 100%;
    background-color: black;
}

.header-container {
    display: flex;
    max-width: 1440px;
    height: 60px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-logo-svg {
    fill: white;
    margin-left: 20px;
    transition: 0.5s;
}

.header-logo-svg.active {
    fill: #BDAE82;
}

.header-logo-svg:hover {
    fill: #BDAE82;
    transition: 0.5s;
}

.header-ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.header-li {
    padding: 0 20px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    line-height: 50px;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

.header-li.active {
    color: #BDAE82;
}

.header-li:hover {
    color: #BDAE82;
    transition: 0.5s;
}

.main {
    background-image: url(assets/img/forest.jpg);
    height: calc(100vh - 120px);
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main.active {
    animation: background 60s linear infinite;
    transition: 0.75s;
}

@keyframes background {
    0% { background-size: 100% auto; }
    50% { background-size: 120% auto; }
    100% { background-size: 100% auto; }
}

/* @keyframes background {
    from {background-position: 0 0;}
    to {background-position: 100vw 0;}
} */

.button {
    background-image: url(assets/svg/play.svg);
    width: 160px;
    height: 160px;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.button.active {
    background-image: url(assets/svg/pause.svg);
    transition: 0.5s;
}

.button:hover {
    filter: brightness(0.5);
    transition: 0.5s;
}

.footer {
    background-color: black;
    height: 60px;
}

.footer-container {
    display: flex;
    max-width: 1440px;
    height: 60px;
    margin: 0 auto;
    align-items: center;
}

.footer-github {
    display: flex;
    gap: 20px;
}

.footer-text {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.github-link {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.github-link:hover {
    color: #BDAE82;
    transition: 0.5s;
}

.footer-rss {
    margin-left: auto;
}

.footer-logo-svg {
    fill: white;
    transition: 0.5s;
}

.footer-logo-svg:hover {
    fill: #BDAE82;
    transition: 0.5s;
}