* {
    box-sizing: border-box;
}

html{
    background-color: black;
    scroll-behavior: smooth;
}

a:hover {
    color: #BDAE82;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: auto;
}

.nav-link {
    justify-content: space-between;
    padding: 0 30px 0 0;
    margin: 20px 0;
    text-decoration: none;
    text-decoration-color: white;
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 50px;
}

.header-container {
    background: url(assets/img/backgroung.jpg);
    background-repeat: no-repeat;
    background-position: center 0;
    height: 90px;
}

.section-hero {
    background: url(assets/img/backgroung.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;
    height: 820px;
    margin-bottom: 100px;
  }

  h1 {
      margin-top: 0px;
      margin-bottom: 0px;
      padding-top: 0px;
      font-family: "Merriweather", sans-serif;
      font-weight: 700;
      font-size: 60px;
      line-height: 120px;
      color: white;
  }

  .h1 {
      margin-left: 80px;
      padding-top: 160px;
  }

  .text-inter {
      font-family: "Inter", sans-serif;
      font-weight: 400;
      color: white;
      font-size: 20px;
      line-height: 40px;
  }

  .text-hero {
      width: 470px;
      height: 330px;
      margin-left: 80px;
  }

  h2 {
      margin: 0px;
      font-family: "Merriweather", sans-serif;
      font-weight: 700;
      font-size: 40px;
      line-height: 80px;
      color: #BDAE82;
  }

  .section-skills {
      height: 482px;
      background-color: black;
  }

  .section-title {
      padding: 0 20px;
  }

  .section-title-stripes{
      display: flex;
      width: 700px;
      height: 80px;
      margin: 0 auto;
  }

  .section-title-stripe{
      height: 2px;
      width: 274px;
      background-color: #BDAE82;
      margin: auto 0;
  }

.skills-list {
    display: flex;
    margin-top: 60px;
    width: 1400px;
}

.skill {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 240px;
    margin: 0 auto;
}

.skill-logo {
    margin: 0 auto;
}

.skill-title {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.skill-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: white;
    margin: 0 auto;
    text-align: center;
    width: 280px;
}

.skill-title-div {
    margin: 50px auto 20px;
}

.section-portfolio {
    height: 1500px;
}

.seasons {
    display: flex;
    width: 895px;
    height: 55px;
    margin: 60px auto;
    justify-content: space-between;
}

.button {
    width: 220px;
    height: 55px;
    background-color: transparent;
    color: #BDAE82;
    border: 2px solid #BDAE82;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
}

.photo-examples {
    width: 1400px;
    height: 1145px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px
}

.player {
    width: 1400px;
    height: 705px;
    margin-top: 60px;
    background-image: url(assets/img/video-player.jpg);
}

.play-icon {
    padding-top: 288px;
    padding-left: 636px;
}

.section-price {
    padding-top: 100px;
    height: 845px;
}

.price {
   width: 1400px;
   height: 505px;
   display: flex;
   justify-content: space-between;
}

.price-cart {
    width: 450px;
    height: 505px;
    margin-top: 60px;
    border: 3px solid #BDAE82;
}

.price-cart-name {
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 56px;
    color: white;
    margin: 43px auto 20px;
    text-align: center;
}

.price-cart-price {
    font-family: "Merriweather", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 48px;
    color: #BDAE82;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.price-cart-text {
    display: block;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: white;
    text-align: center;
}

.button-order {
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    color: black;
    border: 2px solid #BDAE82;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
}

.button-order-div {
    width: 220px;
    height: 55px;
    margin: 40px auto 43px;
}

.section-contacts {
    height: 700px;
    background-image: url(assets/img/contacts.jpg);
}

.contacts-main-div {
    width: 450px;
    height: 445px;
    padding-top: 60px;
    padding-right: 20px;
    margin-left: auto;
}

input {
    display: block;
    background: transparent;
    border: 2px solid #BDAE82;
    width: 450px;
    height: 50px;
}

textarea {
    resize: none;
    background: transparent;
    border: 2px solid #BDAE82;
    width: 450px;
    height: 100px;
}

.message-tel {
    padding-left: 20px;
    margin-bottom: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
}

.message-tel::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
}

.message-email {
    padding-left: 20px;
    padding-top: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.message-email::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
}

.message {
    padding-left: 20px;
    margin-bottom: 30px;
}

.message::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #BDAE82;
}

.footer {
    height: 150px;
}

.github {
    width: 182px;
    height: 50px;
    display: flex;
    gap: 20px;
}

.footer-text {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    color: white;
    margin: 0;
}

.link {
    text-decoration: none;
    color: white;
}

.rss {
    width: 211px;
    height: 50px;
}

.social {
    width: 188px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.social-link {
    display: block;
    padding-top: 9px;
}

svg {
    fill: white;
}

svg:hover {
    fill: #BDAE82;
}

.footer-div {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}